.App {
  text-align: center;
}

.add-item-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.form-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.form-button {
  width: 50%;
  max-width: 200px;
}

.smurf-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.smurf-item {
  width: 300px;
  margin: 12px 0;
  padding: 8px 8px;
  border: 1px solid #ffffff;
}
